<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <h1>
    <%= title %>
  </h1>
  <button class="enableEthereumButton">Connect to Metamask</button>
  <h2>Account: <span class="showAccount"></span></h2>
  <h2>Chain ID: <span class="showChainId"></span></h2>
  <script src="../../express/routes/index.js"></script>

  <button onclick="getLocation()">Button</button>
  <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(printLocation);
        } else {
          console.log("Geolocation is not supported by this browser.");
        }
      }

      function printLocation(position) {
        console.log("Latitude: " + position.coords.latitude +
          "\nLongitude: " + position.coords.longitude);

        // get More information using the Geoapify key
        decode_latlong(position.coords.latitude, position.coords.longitude)
      }

      async function decode_latlong(lat, long) {
        // Replace YOUR_API_KEY with the api key you got from Geoapify
        const apiUrl = `https://api.geoapify.com/v1/geocode/reverse?lat=${lat}&lon=${long}&apiKey=${"4e8a03f4dcc24306a83086b605c64112"}`;

        fetch(apiUrl)
          .then(response => response.json())
          .then(data => {
            // Extract the city name from the response
            const cityName = data.features[0].properties.city;
            console.log(`The city is: ${cityName}`);
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
    </script>


</body>
</html>
